.global-wrapper {
    display: flex;
    justify-content: space-between;
}

.list {
    width: 300px;
    height: 700px;
    border: #3f3fb7 2px solid;
    border-radius: 15px;
    position: relative;
    background-color: rgba(215, 215, 255, 0.42);
    margin-right: 15px;
}

.list ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.list ul li {
    font-size: 20px;
    padding: 10px;
    background-color: rgba(63, 63, 183, 0.25);
    border: rgba(63, 63, 183, 0.89) 1px solid;
}

.list ul li:hover {
    color: #3f3fb7;
    cursor: pointer;
}

.chats {
    width: 1200px;
    height: 500px;
    border: #3f3fb7 2px solid;
    border-radius: 15px;
    background-color: rgba(215, 215, 255, 0.42);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.chat1, .chat2 {
    width: 45%;
    height: 90%;
    border: #3fb745 2px solid;
    border-radius: 15px;
    background-color: rgba(218, 255, 215, 0.31);
    position: relative;
}

.title-chat {
    position: absolute;
    top: 0;
    width: 100%;
    height: 45px;
    background-color: rgba(63, 183, 69, 0.55);
    border-radius: 15px 15px 0 0;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
    z-index: 1;
}

.message-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: end;*/
    /*align-items: end;*/
    position: relative;
}

.message-from-sender {
    width: 300px;
    height: 50px;
    background-color: rgba(27, 180, 35, 0.92);
    position: absolute;
    right: 0;
    bottom: 60px;
    margin: 10px;
    border-radius: 40px;
    font-size: 18px;
    display: grid;
    place-items: center;
}

.message-from-recipient {
    width: 300px;
    height: 50px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px;
    border-radius: 40px;
    font-size: 18px;
    display: grid;
    place-items: center;
}


.input {
    width: 1200px;
    height: 150px;
    border-radius: 15px;
    background-color: rgba(215, 215, 255, 0.42);
    border: #3f3fb7 2px solid;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-area {
    width: 90%;
    height: 70%;
    margin: 10px;
    border-radius: 15px;
    border: #8d8dc2 1px solid;
    text-align: left;
    font-size: 18px;
}

.submit {
    width: 90%;
    height: 30%;
    margin: 10px;
    border-radius: 15px;
    border: #8d8dc2 1px solid;
    font-size: 20px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgba(49, 49, 180, 0.22);
}
